.caja{
   background-color: rgb(182, 182, 182);
   margin: 100px;
   border: 5px solid rgb(95, 95, 95);
   border-radius: 5px;
}

.espacio{
   width: 80%;
   margin: auto;
   margin-top: 50px;
   display: grid;
   grid-template-columns: auto auto auto auto auto;
   grid-template-rows: auto auto auto;
}

.espacio2{
   width: 80%;
   margin: auto;
   margin-bottom: 50px;
   display: grid;
   grid-template-columns: auto auto auto 
 }

 .e1{
   height: 100px;
   border: solid yellow;
   border-radius: 5px;
   margin: 5px;
   background-color: rgb(252, 252, 173);
   grid-column: 1 / 4
 }

 .e2{
   height: 100px;
   border: solid yellow;
   border-radius: 5px;
   margin: 5px;
   background-color: rgb(252, 252, 173);
   grid-column: 4 / 6
 }

 .e3{
   border: solid yellow;
   border-radius: 5px;
   margin: 5px;
   background-color: rgb(252, 252, 173);
   grid-column: 1 / 3;
   grid-row: 2 / 4;
 }

 .e4{
   height: 100px;
   border: solid yellow;
   border-radius: 5px;
   margin: 5px;
   background-color: rgb(252, 252, 173);
   grid-column: 3 / 6;
   grid-row: 2 / 3;
 }

 .e5{
   height: 100px;
   border: solid yellow;
   border-radius: 5px;
   margin: 5px;
   background-color: rgb(252, 252, 173);
   grid-column: 3 / 6;
   grid-row: 3 / 4;
 }

 .e6{
   height: 100px;
   border: solid lightblue;
   border-radius: 5px;
   margin: 5px;
   background-color: rgb(189, 215, 224);
   grid-column: 1 / 2;
 }

 .e7{
   height: 100px;
   border: solid lightblue;
   border-radius: 5px;
   margin: 5px;
   background-color: rgb(189, 215, 224);
   grid-column: 2 / 3;
 }  

 .e8{
   height: 100px;
   border: solid lightblue;
   border-radius: 5px;
   margin: 5px;
   background-color: rgb(189, 215, 224);
   grid-column: 3 / 4;
 }